In [2]:
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
# df = """작성""" # 분석할 데이터 불러오기
df = pd.read_csv('Bank.csv') # 분석할 데이터 불러오기

In [4]:
X = df.iloc[:, :-1] # 독립변수 matrix
X

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,latter_half,79,1,-1,0,unknown
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,first_half,220,1,339,4,failure
2,35,admin.,single,tertiary,no,1350,yes,no,cellular,16,first_half,185,1,330,1,failure
3,30,admin.,married,tertiary,no,1476,yes,yes,unknown,3,first_half,199,4,-1,0,unknown
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,first_half,226,1,-1,0,unknown
5,35,admin.,single,tertiary,no,747,no,no,cellular,23,first_half,141,2,176,3,failure
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,first_half,341,1,330,2,other
7,39,services,married,secondary,no,147,yes,no,cellular,6,first_half,151,2,-1,0,unknown
8,41,self-employed,married,tertiary,no,221,yes,no,unknown,14,first_half,57,2,-1,0,unknown
9,43,services,married,primary,no,-88,yes,yes,cellular,17,first_half,313,1,147,2,failure
10,39,services,married,secondary,no,9374,yes,no,unknown,20,first_half,273,1,-1,0,unknown
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,first_half,113,2,-1,0,unknown
12,36,services,married,tertiary,no,1109,no,no,cellular,13,latter_half,328,2,-1,0,unknown
13,20,student,single,secondary,no,502,no,no,cellular,30,first_half,261,1,-1,0,unknown
14,31,blue-collar,married,secondary,no,360,yes,yes,cellular,29,first_half,89,1,241,1,failure
15,40,admin.,married,tertiary,no,194,no,yes,cellular,29,latter_half,189,2,-1,0,unknown
16,56,services,married,secondary,no,4073,no,no,cellular,27,latter_half,239,5,-1,0,unknown
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,first_half,114,1,152,2,failure
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,first_half,250,1,-1,0,unknown
19,31,services,married,secondary,no,132,no,no,cellular,7,latter_half,148,1,152,1,other
20,38,admin.,divorced,unknown,no,0,yes,no,cellular,18,latter_half,96,2,-1,0,unknown
21,42,admin.,divorced,tertiary,no,16,no,no,cellular,19,latter_half,140,3,-1,0,unknown
22,44,services,single,secondary,no,106,no,no,unknown,12,first_half,109,2,-1,0,unknown
23,44,self-employed,married,secondary,no,93,no,no,cellular,7,latter_half,125,2,-1,0,unknown
24,26,services,married,tertiary,no,543,no,no,cellular,30,first_half,169,3,-1,0,unknown
25,41,admin.,married,tertiary,no,5883,no,no,cellular,20,latter_half,182,2,-1,0,unknown
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,first_half,247,1,-1,0,unknown
27,67,retired,married,unknown,no,696,no,no,telephone,17,latter_half,119,1,105,2,failure
28,56,self-employed,married,secondary,no,784,no,yes,cellular,30,latter_half,149,2,-1,0,unknown
29,53,admin.,married,secondary,no,105,no,yes,cellular,21,latter_half,74,2,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4453,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,first_half,169,1,-1,0,unknown
4454,32,services,single,secondary,no,309,yes,yes,cellular,16,first_half,346,1,234,3,failure
4455,28,services,single,tertiary,no,0,yes,no,unknown,4,first_half,205,6,-1,0,unknown
4456,26,services,single,secondary,no,668,yes,no,unknown,28,first_half,576,3,-1,0,unknown
4457,48,admin.,married,tertiary,no,1175,yes,no,telephone,18,latter_half,1476,3,-1,0,unknown
4458,30,blue-collar,single,secondary,no,363,no,no,cellular,28,latter_half,171,3,-1,0,unknown
4459,31,self-employed,single,tertiary,no,38,no,no,cellular,20,latter_half,185,2,-1,0,unknown
4460,31,admin.,married,tertiary,no,1183,yes,no,unknown,27,first_half,676,6,-1,0,unknown
4461,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,latter_half,362,1,-1,0,unknown
4462,38,admin.,married,secondary,no,4196,yes,no,cellular,12,first_half,193,2,-1,0,unknown
4463,34,admin.,married,tertiary,no,297,yes,no,cellular,26,latter_half,63,4,-1,0,unknown
4464,42,services,married,secondary,no,-91,yes,yes,cellular,5,first_half,43,1,-1,0,unknown
4465,60,self-employed,married,primary,no,362,no,yes,cellular,29,latter_half,816,6,-1,0,unknown
4466,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,first_half,951,3,370,4,failure
4467,32,admin.,single,secondary,no,620,yes,no,unknown,26,first_half,1234,3,-1,0,unknown
4468,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,latter_half,85,4,-1,0,unknown
4469,33,services,married,secondary,no,288,yes,no,cellular,17,first_half,306,1,-1,0,unknown
4470,42,admin.,married,unknown,no,642,yes,yes,unknown,16,first_half,509,2,-1,0,unknown
4471,51,services,married,tertiary,no,2506,no,no,cellular,30,latter_half,210,3,-1,0,unknown
4472,36,services,divorced,secondary,no,566,yes,no,unknown,20,first_half,129,2,-1,0,unknown
4473,46,blue-collar,married,secondary,no,668,yes,no,unknown,15,first_half,1263,2,-1,0,unknown
4474,40,blue-collar,married,secondary,no,1100,yes,no,unknown,29,first_half,660,2,-1,0,unknown
4475,49,blue-collar,married,secondary,no,322,no,no,cellular,14,latter_half,356,2,-1,0,unknown
4476,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,first_half,45,4,153,1,failure
4477,32,services,single,secondary,no,473,yes,no,cellular,7,latter_half,624,5,-1,0,unknown
4478,33,services,married,secondary,no,-333,yes,no,cellular,30,latter_half,329,5,-1,0,unknown
4479,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,first_half,153,1,-1,0,unknown
4480,57,services,married,secondary,no,295,no,no,cellular,19,latter_half,151,11,-1,0,unknown
4481,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,first_half,129,4,211,3,other
4482,44,self-employed,single,tertiary,no,1136,yes,yes,cellular,3,first_half,345,2,249,7,other

In [5]:
y = df.iloc[:, -1] # 종속변수 matrix
y

0        no
1        no
2        no
3        no
4        no
5        no
6        no
7        no
8        no
9        no
10       no
11       no
12       no
13      yes
14       no
15       no
16       no
17       no
18       no
19       no
20       no
21       no
22       no
23       no
24       no
25       no
26       no
27       no
28       no
29       no
       ...
4453     no
4454     no
4455     no
4456    yes
4457     no
4458     no
4459     no
4460     no
4461     no
4462     no
4463     no
4464     no
4465    yes
4466    yes
4467    yes
4468     no
4469     no
4470     no
4471     no
4472     no
4473    yes
4474     no
4475     no
4476     no
4477     no
4478     no
4479     no
4480     no
4481     no
4482     no
Name: y, Length: 4483, dtype: object

In [8]:
y = y.replace('no', 0) # 종속변수의 no를 0으로 변환
y = y.replace('yes', 1) # 종속변수의 yes를 1로 변환

In [6]:
X.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
dtype: object

In [8]:
num_idx=np.where(X.dtypes=='int64')

In [9]:
num_idx

(array([ 0,  5,  9, 11, 12, 13, 14]),)

In [11]:
# 독립변수가 연속형인 데이터
# X_num = """작성"""
X_num=X.iloc[:,num_idx[0]]
X_num

      age  balance  day  duration  campaign  pdays  previous
0      30     1787   19        79         1     -1         0
1      33     4789   11       220         1    339         4
2      35     1350   16       185         1    330         1
3      30     1476    3       199         4     -1         0
4      59        0    5       226         1     -1         0
5      35      747   23       141         2    176         3
6      36      307   14       341         1    330         2
7      39      147    6       151         2     -1         0
8      41      221   14        57         2     -1         0
9      43      -88   17       313         1    147         2
10     39     9374   20       273         1     -1         0
11     43      264   17       113         2     -1         0
12     36     1109   13       328         2     -1         0
13     20      502   30       261         1     -1         0
14     31      360   29        89         1    241         1
15     40      194   29       189         2     -1         0
16     56     4073   27       239         5     -1         0
17     37     2317   20       114         1    152         2
18     25     -221   23       250         1     -1         0
19     31      132    7       148         1    152         1
20     38        0   18        96         2     -1         0
21     42       16   19       140         3     -1         0
22     44      106   12       109         2     -1         0
23     44       93    7       125         2     -1         0
24     26      543   30       169         3     -1         0
25     41     5883   20       182         2     -1         0
26     55      627    5       247         1     -1         0
27     67      696   17       119         1    105         2
28     56      784   30       149         2     -1         0
29     53      105   21        74         2     -1         0
...   ...      ...  ...       ...       ...    ...       ...
4453   35        0   16       169         1     -1         0
4454   32      309   16       346         1    234         3
4455   28        0    4       205         6     -1         0
4456   26      668   28       576         3     -1         0
4457   48     1175   18      1476         3     -1         0
4458   30      363   28       171         3     -1         0
4459   31       38   20       185         2     -1         0
4460   31     1183   27       676         6     -1         0
4461   45      942   21       362         1     -1         0
4462   38     4196   12       193         2     -1         0
4463   34      297   26        63         4     -1         0
4464   42      -91    5        43         1     -1         0
4465   60      362   29       816         6     -1         0
4466   42     1080   13       951         3    370         4
4467   32      620   26      1234         3     -1         0
4468   42     -166   29        85         4     -1         0
4469   33      288   17       306         1     -1         0
4470   42      642   16       509         2     -1         0
4471   51     2506   30       210         3     -1         0
4472   36      566   20       129         2     -1         0
4473   46      668   15      1263         2     -1         0
4474   40     1100   29       660         2     -1         0
4475   49      322   14       356         2     -1         0
4476   38     1205   20        45         4    153         1
4477   32      473    7       624         5     -1         0
4478   33     -333   30       329         5     -1         0
4479   57    -3313    9       153         1     -1         0
4480   57      295   19       151        11     -1         0
4481   28     1137    6       129         4    211         3
4482   44     1136    3       345         2    249         7

[4483 rows x 7 columns]

In [12]:
cat_idx=np.where(X.dtypes=='object')
cat_idx

(array([ 1,  2,  3,  4,  6,  7,  8, 10, 15]),)

In [16]:
# 독립변수가 이산형인 데이터
# X_cat = """작성"""
X_cat=X.iloc[:,cat_idx[0]]
X_cat.head(4)

,job,marital,education,default,housing,loan,contact,month,poutcome
0,unemployed,married,primary,no,no,no,cellular,latter_half,unknown
1,services,married,secondary,no,yes,yes,cellular,first_half,failure
2,admin.,single,tertiary,no,yes,no,cellular,first_half,failure
3,admin.,married,tertiary,no,yes,yes,unknown,first_half,unknown

In [15]:
X_cat.columns

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome'],
      dtype='object')

In [19]:
pd.get_dummies(tmp_df['job'], prefix='job').head(4)

,job_admin.,job_blue-collar,job_retired,job_self-employed,job_services,job_student,job_unemployed
0,0,0,0,0,0,0,1
1,0,0,0,0,1,0,0
2,1,0,0,0,0,0,0
3,1,0,0,0,0,0,0

In [25]:

temp= np.array([3,4])
temp2 = temp
temp3=temp.copy()
temp[0]=1

In [26]:
temp2

array([1, 4])

In [27]:
temp3

array([3, 4])

In [20]:
tmp_df = X_cat # 이산형 데이터는 임시로 다른 곳에 저장
final_X = X_num # 연속형 데이터는 dummy 변수가 필요 없으므로 분석할 데이터에 저장

# 이산형 데이터를 하나씩 dummy 변수로 변환하는 작업 수행
for i in X_cat.columns:
    cat_list = pd.get_dummies(tmp_df[i], drop_first = True, prefix = i)
    final_X = final_X.join(cat_list) # dummy 변수로 만든 이산형 데이터를 분석용 데이터에 합치기

In [21]:
# Logistic regression 함수 import
from sklearn.linear_model import LogisticRegression
# k-fold cross-validation 함수 import
from sklearn.model_selection import KFold

# Logistic regression 함수 명명
logit_reg = LogisticRegression()

In [22]:
# scaling 함수 import
from sklearn.preprocessing import StandardScaler

In [37]:

cv = KFold(n_splits = 5, shuffle = True) # 5-fold cv 함수 입력

fold_train_result = 0 # training set의 5-fold R-squared 값 초기화
fold_test_result = 0 # test set의 5-fold R-squared 값 초기화
fold=1
for tr_idx, te_idx in cv.split(final_X):
    print('fold:',fold)
    print('tr_idx:',tr_idx)
    print('te_idx:',te_idx)
    fold=fold+1

fold: 1
tr_idx: [   0    1    2 ... 4480 4481 4482]
te_idx: [  11   12   13   16   28   32   37   38   39   40   42   45   46   66
   69   70   72   74   76   78   82   85   88   91   92  103  108  109
  112  120  124  132  134  137  139  141  142  145  152  153  164  165
  177  178  185  186  187  220  225  228  229  230  233  235  236  239
  246  247  254  257  271  276  287  294  298  299  306  313  314  320
  323  327  333  335  342  346  354  356  362  363  366  368  377  379
  386  391  397  407  413  414  419  431  435  437  440  441  443  447
  449  457  461  462  465  467  469  472  473  479  485  488  497  498
  511  517  518  524  528  533  535  537  538  543  549  561  571  576
  585  586  588  596  597  613  614  623  625  629  634  640  641  647
  648  651  661  669  675  678  679  695  700  709  711  713  726  731
  732  740  747  756  760  771  774  778  785  789  794  796  800  819
  821  822  831  834  835  849  864  866  869  870  899  916  927  940
  945  951  953  956  963  964  968  972  979  981  985  999 1000 1003
 1008 1009 1010 1011 1027 1033 1039 1040 1048 1052 1054 1058 1069 1077
 1091 1095 1099 1101 1109 1110 1113 1116 1118 1127 1137 1141 1142 1143
 1146 1155 1166 1169 1170 1174 1175 1177 1182 1193 1194 1195 1204 1223
 1224 1228 1237 1242 1245 1257 1259 1263 1266 1267 1269 1286 1294 1295
 1297 1299 1301 1304 1307 1312 1318 1321 1322 1326 1329 1330 1340 1344
 1351 1353 1359 1368 1369 1371 1372 1379 1384 1386 1398 1403 1405 1406
 1407 1409 1412 1415 1424 1427 1430 1432 1435 1436 1442 1451 1452 1456
 1459 1460 1462 1469 1471 1472 1478 1487 1497 1502 1509 1515 1528 1530
 1537 1546 1554 1564 1578 1588 1592 1604 1613 1616 1617 1627 1634 1637
 1641 1643 1645 1652 1653 1657 1658 1663 1669 1681 1684 1702 1703 1705
 1711 1712 1717 1731 1735 1743 1746 1747 1752 1753 1755 1759 1762 1765
 1768 1771 1773 1774 1775 1778 1795 1802 1817 1831 1833 1834 1836 1843
 1846 1851 1852 1862 1864 1865 1871 1872 1878 1880 1885 1890 1892 1920
 1922 1932 1934 1935 1941 1950 1952 1960 1966 1967 1968 1969 1970 1974
 1982 1988 2002 2004 2009 2012 2023 2025 2032 2034 2036 2038 2043 2045
 2056 2058 2061 2077 2082 2084 2089 2090 2096 2101 2112 2114 2117 2120
 2123 2124 2127 2128 2141 2150 2157 2168 2173 2175 2182 2192 2194 2199
 2203 2214 2216 2222 2225 2237 2262 2269 2270 2271 2278 2283 2289 2295
 2298 2302 2311 2313 2314 2338 2339 2345 2351 2352 2356 2364 2367 2368
 2373 2375 2376 2378 2382 2384 2386 2388 2390 2397 2399 2406 2407 2408
 2416 2424 2425 2434 2437 2443 2445 2450 2453 2455 2464 2466 2471 2472
 2473 2474 2478 2486 2489 2490 2491 2505 2507 2510 2519 2527 2538 2539
 2548 2549 2551 2553 2559 2562 2569 2576 2577 2583 2587 2591 2594 2595
 2599 2600 2604 2614 2622 2624 2634 2637 2640 2644 2646 2651 2657 2665
 2668 2680 2695 2697 2699 2701 2714 2724 2727 2735 2736 2737 2743 2744
 2757 2758 2760 2764 2767 2771 2773 2776 2777 2783 2785 2787 2790 2792
 2800 2803 2807 2817 2823 2827 2830 2833 2841 2845 2853 2867 2870 2873
 2875 2883 2884 2886 2889 2898 2902 2907 2908 2914 2916 2922 2924 2925
 2930 2943 2945 2946 2956 2961 2972 2981 2982 2994 3000 3002 3010 3011
 3018 3022 3025 3027 3028 3032 3047 3053 3055 3065 3067 3074 3083 3087
 3088 3096 3097 3101 3106 3125 3132 3134 3141 3152 3155 3158 3163 3175
 3180 3181 3190 3191 3193 3195 3202 3210 3215 3216 3221 3225 3238 3242
 3244 3246 3247 3260 3265 3266 3270 3282 3283 3285 3287 3294 3301 3311
 3315 3327 3334 3344 3345 3347 3349 3361 3366 3367 3372 3373 3375 3376
 3382 3383 3391 3392 3401 3412 3414 3417 3422 3424 3427 3428 3429 3430
 3441 3444 3445 3448 3449 3460 3461 3462 3464 3473 3474 3476 3493 3501
 3509 3511 3518 3533 3540 3557 3567 3568 3569 3571 3572 3575 3584 3587
 3597 3611 3621 3630 3632 3633 3639 3640 3641 3649 3650 3665 3668 3676
 3681 3683 3684 3686 3692 3697 3702 3707 3709 3730 3739 3743 3745 3749
 3758 3765 3773 3777 3782 3783 3785 3786 3791 3793 3799 3803 3815 3819
 3821 3822 3838 3840 3844 3855 3858 3869 3871 3872 3875 3876 3877 3878
 3879 3882 3884 3900 3915 3916 3919 3920 3934 3939 3961 3963 3964 3967
 3972 3973 3981 3983 3988 3996 4001 4005 4007 4010 4016 4020 4037 4050
 4057 4064 4065 4069 4078 4083 4092 4098 4103 4105 4117 4128 4131 4133
 4137 4138 4152 4164 4165 4166 4171 4173 4174 4175 4176 4178 4182 4185
 4188 4199 4200 4202 4203 4208 4220 4222 4224 4225 4227 4230 4237 4244
 4247 4253 4255 4257 4258 4260 4262 4265 4266 4268 4272 4284 4297 4302
 4305 4312 4315 4316 4321 4323 4325 4337 4339 4341 4356 4358 4360 4366
 4368 4372 4380 4381 4383 4388 4389 4393 4397 4403 4410 4412 4415 4419
 4421 4425 4426 4428 4432 4436 4437 4440 4442 4450 4454 4457 4461 4465
 4477]
fold: 2
tr_idx: [   0    1    3 ... 4480 4481 4482]
te_idx: [   2   15   23   29   30   31   44   48   54   61   63   64   65   77
   81   83   86   95  102  107  110  113  116  117  119  121  127  130
  138  140  144  147  151  161  169  172  176  181  182  184  189  197
  206  212  219  226  231  234  237  243  250  251  252  253  255  266
  272  278  280  282  283  284  285  292  293  297  303  312  321  328
  329  331  338  340  351  352  357  370  378  384  389  392  394  395
  399  403  410  418  424  427  430  434  436  455  458  474  476  478
  486  494  495  496  508  521  522  523  529  530  531  536  539  544
  550  551  555  563  569  579  580  583  584  591  593  604  607  609
  616  619  624  627  631  635  639  650  657  665  673  677  684  687
  691  694  703  715  720  721  722  724  730  745  746  752  758  762
  766  769  776  777  795  803  804  815  816  827  836  838  839  858
  860  865  867  868  871  872  877  889  897  902  907  909  911  921
  922  928  933  936  942  948  954  958  960  965  967  969  982  983
  989  990  991 1002 1014 1017 1018 1022 1023 1034 1037 1038 1042 1046
 1050 1056 1061 1070 1072 1079 1081 1084 1087 1088 1090 1093 1103 1104
 1106 1111 1114 1117 1124 1125 1128 1129 1132 1133 1134 1136 1140 1147
 1148 1154 1156 1160 1167 1172 1188 1196 1199 1213 1214 1220 1222 1225
 1239 1247 1251 1253 1254 1255 1258 1264 1265 1270 1280 1283 1293 1302
 1310 1313 1316 1320 1323 1324 1338 1342 1346 1347 1354 1355 1358 1370
 1373 1376 1383 1387 1388 1392 1400 1402 1404 1418 1419 1420 1428 1429
 1443 1446 1447 1453 1464 1470 1484 1490 1491 1496 1505 1512 1513 1519
 1520 1522 1524 1527 1529 1532 1538 1539 1542 1547 1551 1560 1567 1568
 1574 1580 1589 1602 1610 1612 1614 1620 1633 1640 1642 1648 1661 1662
 1666 1676 1679 1680 1685 1690 1696 1698 1707 1713 1714 1715 1721 1726
 1727 1740 1742 1744 1756 1757 1770 1772 1776 1777 1788 1789 1796 1799
 1804 1805 1807 1812 1813 1825 1830 1840 1844 1847 1850 1856 1863 1873
 1874 1875 1882 1891 1893 1901 1905 1906 1907 1916 1917 1921 1924 1927
 1929 1930 1933 1937 1938 1942 1949 1954 1962 1963 1971 1977 1978 1985
 1993 2000 2008 2011 2013 2016 2019 2020 2022 2027 2028 2030 2042 2049
 2062 2063 2064 2065 2067 2068 2069 2070 2071 2072 2073 2085 2086 2092
 2093 2099 2115 2118 2129 2132 2133 2134 2136 2144 2147 2159 2169 2179
 2183 2184 2190 2193 2197 2198 2200 2208 2213 2215 2217 2220 2224 2227
 2229 2231 2233 2245 2255 2280 2287 2288 2301 2308 2310 2317 2318 2319
 2320 2322 2323 2324 2325 2328 2329 2333 2335 2336 2347 2348 2349 2355
 2358 2360 2362 2366 2374 2380 2381 2383 2392 2396 2398 2400 2401 2411
 2414 2419 2422 2426 2427 2436 2438 2447 2457 2460 2463 2465 2467 2480
 2493 2500 2504 2509 2512 2518 2521 2522 2531 2541 2543 2544 2554 2557
 2573 2578 2579 2581 2584 2593 2596 2605 2608 2611 2617 2618 2623 2627
 2628 2629 2631 2632 2638 2645 2661 2663 2664 2673 2677 2684 2692 2693
 2694 2696 2708 2709 2711 2713 2732 2733 2739 2742 2745 2746 2753 2754
 2766 2769 2780 2782 2786 2789 2801 2821 2824 2837 2838 2856 2872 2876
 2877 2880 2900 2905 2906 2910 2911 2913 2915 2918 2920 2927 2932 2934
 2940 2942 2947 2948 2953 2960 2963 2967 2970 2973 2975 2986 2988 2989
 2990 3015 3019 3021 3023 3024 3037 3038 3041 3043 3050 3052 3054 3066
 3071 3082 3086 3094 3098 3107 3110 3113 3118 3130 3131 3133 3142 3151
 3156 3165 3170 3173 3182 3186 3208 3211 3214 3218 3224 3232 3233 3235
 3237 3239 3241 3243 3249 3258 3263 3271 3272 3273 3274 3286 3290 3296
 3307 3308 3314 3316 3320 3326 3332 3343 3346 3353 3363 3368 3374 3377
 3379 3380 3385 3397 3398 3405 3409 3419 3421 3425 3431 3433 3435 3438
 3440 3442 3446 3451 3457 3469 3478 3481 3483 3487 3495 3497 3507 3514
 3517 3520 3523 3534 3536 3541 3542 3543 3547 3550 3555 3563 3564 3583
 3586 3604 3607 3610 3612 3624 3627 3635 3637 3638 3643 3644 3658 3660
 3664 3714 3715 3716 3718 3724 3728 3731 3732 3735 3736 3742 3746 3750
 3752 3755 3762 3766 3769 3771 3780 3784 3806 3812 3820 3829 3847 3849
 3850 3852 3863 3867 3873 3874 3892 3893 3903 3907 3912 3921 3922 3927
 3928 3932 3933 3940 3943 3945 3948 3959 3966 3969 3971 3974 3982 3990
 4000 4002 4004 4012 4018 4023 4024 4027 4029 4032 4045 4046 4049 4056
 4060 4062 4068 4077 4084 4089 4090 4101 4107 4114 4120 4132 4135 4141
 4143 4161 4162 4170 4177 4179 4180 4190 4192 4193 4195 4197 4198 4204
 4205 4206 4209 4215 4226 4231 4236 4238 4245 4250 4252 4263 4273 4278
 4286 4290 4292 4293 4295 4299 4306 4308 4310 4320 4331 4335 4340 4349
 4362 4365 4367 4369 4371 4373 4374 4382 4385 4387 4392 4394 4395 4400
 4413 4416 4423 4427 4438 4444 4445 4447 4449 4456 4462 4468 4473 4474
 4475]
fold: 3
tr_idx: [   1    2    3 ... 4476 4477 4480]
te_idx: [   0    5    6    8   10   21   22   24   27   33   34   36   41   49
   50   51   52   53   55   59   60   71   75   80   87   90   97   98
  100  115  123  129  131  135  148  163  183  191  192  194  204  215
  227  232  238  241  256  258  259  260  261  262  274  275  277  301
  304  307  308  310  316  319  324  332  337  344  347  350  361  367
  374  375  385  387  390  398  402  420  421  423  433  442  444  445
  459  464  468  477  480  481  487  499  504  506  507  513  515  516
  520  526  527  540  556  562  567  573  577  578  581  598  601  603
  606  612  615  617  620  632  633  637  644  645  649  654  656  662
  674  676  682  683  685  689  690  692  697  702  707  710  712  718
  727  736  742  743  750  759  761  773  791  797  799  805  808  809
  820  825  830  840  841  842  843  845  861  876  878  884  885  891
  892  898  903  905  910  923  925  929  937  947  957  961  970  977
  984  986  987  995  996  998 1001 1004 1005 1006 1013 1020 1021 1031
 1041 1043 1045 1047 1049 1051 1064 1066 1068 1071 1075 1092 1094 1100
 1107 1108 1119 1122 1126 1130 1138 1144 1145 1149 1150 1153 1158 1159
 1163 1168 1183 1186 1187 1190 1191 1197 1200 1206 1211 1217 1218 1219
 1226 1227 1231 1236 1240 1241 1243 1260 1275 1276 1277 1287 1290 1306
 1315 1317 1319 1328 1332 1335 1339 1361 1363 1365 1366 1380 1381 1389
 1399 1413 1423 1433 1434 1439 1440 1444 1448 1454 1463 1465 1474 1477
 1483 1486 1494 1498 1501 1503 1504 1507 1517 1518 1536 1548 1555 1558
 1566 1572 1573 1577 1579 1587 1590 1595 1596 1600 1601 1603 1608 1619
 1625 1629 1631 1639 1644 1646 1656 1670 1674 1682 1689 1694 1695 1699
 1704 1709 1710 1718 1725 1733 1734 1736 1741 1751 1761 1767 1780 1784
 1793 1797 1803 1810 1820 1832 1837 1839 1841 1842 1848 1855 1859 1868
 1869 1879 1886 1895 1910 1911 1913 1918 1936 1944 1958 1959 1964 1965
 1972 1976 1979 1981 1994 1999 2005 2007 2018 2021 2024 2026 2040 2041
 2044 2051 2052 2054 2074 2076 2078 2103 2104 2105 2109 2111 2126 2131
 2137 2139 2140 2142 2146 2148 2151 2152 2154 2160 2161 2166 2172 2176
 2178 2180 2186 2187 2189 2201 2204 2210 2219 2221 2226 2228 2232 2234
 2243 2246 2247 2248 2251 2252 2257 2264 2265 2267 2268 2272 2273 2276
 2277 2279 2284 2286 2290 2292 2293 2305 2306 2312 2315 2316 2330 2331
 2334 2337 2341 2343 2346 2354 2370 2385 2393 2394 2395 2402 2404 2418
 2420 2428 2430 2446 2449 2452 2456 2458 2468 2475 2479 2481 2482 2484
 2485 2488 2497 2502 2513 2514 2515 2520 2525 2528 2530 2532 2540 2542
 2545 2550 2563 2564 2565 2566 2572 2592 2598 2601 2606 2607 2610 2615
 2616 2647 2650 2653 2654 2660 2670 2675 2676 2679 2682 2688 2691 2700
 2704 2706 2718 2720 2721 2726 2730 2731 2738 2748 2751 2761 2763 2765
 2775 2778 2793 2795 2797 2804 2805 2806 2808 2814 2819 2820 2825 2828
 2829 2839 2842 2843 2844 2847 2848 2851 2854 2855 2859 2860 2862 2864
 2865 2869 2881 2882 2887 2888 2890 2891 2893 2896 2901 2917 2919 2921
 2928 2931 2944 2949 2950 2951 2952 2957 2962 2966 2971 2976 2977 2985
 2993 2995 3006 3007 3034 3035 3036 3042 3051 3056 3063 3068 3077 3079
 3090 3093 3108 3115 3117 3121 3122 3123 3128 3135 3147 3153 3154 3161
 3162 3166 3169 3172 3178 3196 3199 3203 3212 3213 3222 3223 3226 3234
 3245 3255 3262 3264 3267 3268 3269 3277 3281 3288 3299 3302 3305 3306
 3313 3325 3328 3333 3348 3350 3354 3356 3357 3364 3365 3369 3381 3387
 3393 3395 3396 3399 3400 3403 3406 3420 3423 3443 3455 3456 3463 3468
 3471 3477 3479 3480 3485 3489 3494 3496 3503 3508 3513 3519 3521 3524
 3530 3532 3538 3545 3548 3549 3551 3554 3556 3560 3561 3574 3577 3585
 3588 3592 3593 3598 3599 3600 3602 3605 3616 3618 3620 3628 3631 3642
 3645 3646 3652 3653 3662 3667 3670 3673 3677 3679 3685 3693 3695 3696
 3699 3700 3704 3705 3717 3722 3727 3733 3737 3741 3744 3748 3751 3760
 3761 3763 3768 3774 3778 3787 3788 3789 3792 3795 3798 3802 3809 3816
 3817 3818 3823 3826 3828 3831 3833 3835 3837 3845 3853 3856 3860 3861
 3880 3883 3886 3887 3889 3890 3891 3897 3902 3908 3911 3914 3925 3931
 3935 3938 3944 3950 3951 3953 3957 3962 3965 3970 3976 3977 3980 3986
 3991 3993 3997 3999 4009 4013 4015 4017 4025 4026 4031 4033 4035 4038
 4039 4044 4051 4052 4061 4075 4076 4081 4085 4087 4088 4093 4096 4102
 4108 4110 4112 4115 4119 4127 4148 4151 4154 4155 4157 4159 4163 4168
 4186 4194 4196 4207 4211 4212 4213 4218 4242 4248 4249 4275 4277 4280
 4281 4288 4291 4296 4301 4309 4314 4317 4318 4322 4329 4334 4338 4343
 4344 4348 4352 4353 4355 4390 4398 4401 4402 4404 4409 4411 4414 4418
 4424 4429 4433 4439 4443 4453 4459 4463 4464 4467 4470 4478 4479 4481
 4482]
fold: 4
tr_idx: [   0    1    2 ... 4479 4481 4482]
te_idx: [   7    9   14   25   26   35   47   56   58   62   67   84   93  101
  104  106  111  114  118  125  126  128  133  136  143  149  150  154
  157  158  159  162  166  168  174  175  179  180  195  199  200  201
  203  205  208  210  211  214  216  221  224  244  248  263  265  269
  270  290  295  302  309  315  322  326  330  334  336  339  341  343
  348  353  358  364  371  373  393  400  406  408  411  412  415  416
  417  422  425  426  438  448  450  451  460  466  471  475  482  484
  489  492  493  501  503  509  510  512  534  545  546  548  553  554
  572  587  592  605  608  610  618  628  636  638  642  646  652  653
  663  664  666  670  671  680  681  686  688  693  696  701  704  705
  706  714  719  723  725  728  734  735  737  738  739  744  748  751
  755  763  770  772  775  779  780  781  783  784  787  788  790  792
  802  806  811  812  818  823  824  826  829  832  848  855  873  874
  875  880  881  887  888  896  900  901  904  908  912  913  915  918
  920  931  932  938  939  943  944  946  962  966  971  973  975  978
  980  992  993 1007 1012 1019 1035 1057 1059 1063 1074 1078 1082 1085
 1097 1105 1112 1115 1131 1135 1152 1161 1165 1171 1176 1180 1181 1184
 1189 1201 1205 1207 1208 1221 1229 1233 1234 1235 1244 1252 1256 1261
 1272 1273 1274 1278 1281 1289 1292 1298 1303 1305 1308 1309 1311 1314
 1327 1333 1343 1345 1350 1352 1357 1360 1364 1375 1378 1382 1391 1394
 1397 1410 1416 1426 1431 1437 1438 1449 1455 1461 1466 1467 1473 1476
 1479 1480 1482 1485 1492 1493 1500 1506 1514 1516 1521 1523 1526 1531
 1534 1540 1541 1543 1550 1559 1561 1565 1570 1576 1581 1582 1585 1593
 1594 1598 1599 1605 1609 1611 1615 1622 1632 1636 1649 1650 1651 1664
 1665 1673 1675 1677 1678 1683 1686 1687 1697 1716 1724 1730 1732 1737
 1738 1739 1748 1749 1750 1758 1760 1764 1769 1782 1783 1785 1794 1800
 1801 1806 1811 1815 1818 1819 1821 1823 1824 1826 1829 1845 1857 1860
 1870 1876 1877 1883 1884 1888 1889 1897 1900 1903 1904 1908 1923 1931
 1939 1940 1943 1946 1948 1951 1953 1955 1957 1961 1975 1980 1983 1987
 1990 1991 1992 1996 1997 2001 2003 2006 2017 2031 2035 2037 2039 2046
 2047 2048 2053 2055 2059 2075 2080 2081 2091 2094 2106 2110 2116 2122
 2130 2153 2155 2156 2158 2162 2165 2177 2181 2188 2195 2196 2205 2206
 2207 2211 2212 2218 2223 2238 2240 2241 2242 2250 2253 2258 2263 2266
 2274 2281 2285 2299 2300 2304 2307 2309 2326 2327 2332 2344 2353 2361
 2363 2365 2371 2372 2410 2412 2413 2415 2417 2423 2429 2431 2432 2435
 2439 2440 2442 2444 2448 2451 2459 2476 2477 2487 2492 2494 2495 2498
 2503 2506 2516 2517 2524 2526 2529 2533 2534 2536 2547 2560 2568 2571
 2575 2580 2586 2612 2626 2630 2635 2636 2639 2642 2649 2655 2658 2659
 2669 2674 2678 2681 2689 2705 2707 2710 2712 2716 2722 2725 2728 2729
 2734 2741 2747 2749 2756 2762 2768 2774 2779 2781 2794 2796 2799 2802
 2809 2810 2811 2812 2813 2816 2818 2831 2834 2835 2836 2840 2846 2850
 2863 2868 2874 2885 2894 2897 2904 2909 2912 2923 2929 2935 2936 2937
 2939 2958 2965 2969 2979 2980 2984 2987 2992 2996 2998 2999 3001 3003
 3005 3008 3009 3012 3016 3020 3029 3030 3031 3044 3048 3049 3057 3058
 3059 3060 3061 3062 3070 3073 3075 3085 3091 3092 3100 3102 3104 3112
 3114 3116 3119 3124 3127 3129 3138 3140 3144 3145 3150 3159 3160 3171
 3179 3183 3185 3189 3192 3194 3197 3201 3205 3206 3209 3217 3219 3220
 3228 3230 3231 3236 3248 3250 3253 3254 3256 3257 3259 3261 3275 3278
 3280 3289 3291 3292 3293 3309 3310 3312 3317 3323 3324 3330 3331 3335
 3340 3341 3351 3355 3359 3360 3362 3371 3384 3389 3390 3402 3407 3416
 3418 3434 3436 3439 3450 3452 3459 3470 3472 3484 3498 3499 3500 3504
 3505 3506 3512 3515 3516 3522 3525 3526 3528 3529 3531 3539 3558 3562
 3566 3570 3576 3581 3582 3589 3590 3591 3594 3595 3603 3609 3614 3615
 3619 3622 3623 3629 3634 3636 3648 3651 3655 3657 3659 3661 3663 3672
 3680 3687 3691 3694 3708 3711 3719 3723 3726 3729 3734 3753 3757 3759
 3764 3767 3775 3781 3797 3800 3804 3805 3807 3808 3813 3824 3827 3830
 3836 3839 3842 3851 3857 3859 3864 3868 3870 3885 3896 3898 3899 3904
 3905 3906 3910 3913 3918 3923 3924 3929 3937 3941 3946 3954 3956 3958
 3975 3984 3985 3989 3992 3998 4006 4014 4028 4030 4034 4041 4042 4048
 4053 4054 4055 4058 4067 4070 4095 4100 4111 4113 4116 4118 4121 4124
 4125 4129 4139 4145 4147 4153 4172 4184 4187 4191 4210 4214 4219 4228
 4229 4232 4233 4234 4235 4239 4243 4246 4254 4267 4269 4274 4279 4283
 4285 4298 4300 4304 4313 4326 4327 4330 4332 4336 4342 4345 4359 4363
 4376 4378 4379 4406 4407 4422 4434 4435 4455 4458 4466 4471 4476 4480]
fold: 5
tr_idx: [   0    2    5 ... 4480 4481 4482]
te_idx: [   1    3    4   17   18   19   20   43   57   68   73   79   89   94
   96   99  105  122  146  155  156  160  167  170  171  173  188  190
  193  196  198  202  207  209  213  217  218  222  223  240  242  245
  249  264  267  268  273  279  281  286  288  289  291  296  300  305
  311  317  318  325  345  349  355  359  360  365  369  372  376  380
  381  382  383  388  396  401  404  405  409  428  429  432  439  446
  452  453  454  456  463  470  483  490  491  500  502  505  514  519
  525  532  541  542  547  552  557  558  559  560  564  565  566  568
  570  574  575  582  589  590  594  595  599  600  602  611  621  622
  626  630  643  655  658  659  660  667  668  672  698  699  708  716
  717  729  733  741  749  753  754  757  764  765  767  768  782  786
  793  798  801  807  810  813  814  817  828  833  837  844  846  847
  850  851  852  853  854  856  857  859  862  863  879  882  883  886
  890  893  894  895  906  914  917  919  924  926  930  934  935  941
  949  950  952  955  959  974  976  988  994  997 1015 1016 1024 1025
 1026 1028 1029 1030 1032 1036 1044 1053 1055 1060 1062 1065 1067 1073
 1076 1080 1083 1086 1089 1096 1098 1102 1120 1121 1123 1139 1151 1157
 1162 1164 1173 1178 1179 1185 1192 1198 1202 1203 1209 1210 1212 1215
 1216 1230 1232 1238 1246 1248 1249 1250 1262 1268 1271 1279 1282 1284
 1285 1288 1291 1296 1300 1325 1331 1334 1336 1337 1341 1348 1349 1356
 1362 1367 1374 1377 1385 1390 1393 1395 1396 1401 1408 1411 1414 1417

In [30]:
n_iter = 10 # 전체 실험 반복 횟수

iter_train_result = [] # training set의 전체 값 초기화
iter_test_result = [] # test set의 전체 값 초기화

for epoch in np.arange(n_iter):
    
    cv = KFold(n_splits = 5, shuffle = True, random_state=epoch) # 5-fold cv 함수 입력
    
    fold_train_result = 0 # training set의 5-fold R-squared 값 초기화
    fold_test_result = 0 # test set의 5-fold R-squared 값 초기화
    
    for tr_idx, te_idx in cv.split(final_X):
        
        X_train = final_X.iloc[tr_idx] # cross-validation index를 통한 독립변수 training set
        X_test = final_X.iloc[te_idx] # cross-validation index를 통한 독립변수 test set
        y_train = y[tr_idx] # cross-validation index를 통한 종속변수 training set
        y_test = y[te_idx] # cross-validation index를 통한 종속변수 test set
                
        scaler = StandardScaler() # scaler 함수 명명
        scaler = scaler.fit(X_train.iloc[:, 0:np.shape(X_num)[1]]) # scaler 함수 fitting
        # training set 내 연속형 데이터의 scaling
        zs_X_train = scaler.transform(X_train.iloc[:, 0:np.shape(X_num)[1]])
        # training set의 연속형과 이산형 데이터 합치기
        zs_X_train = np.c_[zs_X_train, X_train.iloc[:, np.shape(X_num)[1]:].values]
        
#         logit_reg = """작성""" # Logistic regression 예측 모형 학습
        logit_reg.fit(zs_X_train, y_train) # Logistic regression 예측 모형 학습
    
#         # test set 내 연속형 데이터의 scaling (training set의 정보 그대로 이용)
#         zs_X_test = """작성"""
#         # test set의 연속형과 이산형 데이터 합치기
#         zs_X_test = """작성"""
        
        # test set 내 연속형 데이터의 scaling (training set의 정보 이용)
        zs_X_test = scaler.transform(X_test.iloc[:, 0:np.shape(X_num)[1]])
        # test set의 연속형과 이산형 데이터 합치기
        zs_X_test = np.c_[zs_X_test, X_test.iloc[:, np.shape(X_num)[1]:].values]
        
        # 5-fold의 training set 학습 결과 저장
        fold_train_result += logit_reg.score(zs_X_train, y_train)
        # 5-fold의 test set 학습 결과 저장
        fold_test_result += logit_reg.score(zs_X_test, y_test)
        
    # 5-fold의 training set 학습 결과의 평균
    fold_train_result = fold_train_result / cv.get_n_splits(final_X)
    # 5-fold의 test set 학습 결과의 평균
    fold_test_result = fold_test_result / cv.get_n_splits(final_X)
    
    iter_train_result = iter_train_result + [fold_train_result] # training set의 전체 R-squared 값 저장
    iter_test_result = iter_test_result + [fold_test_result] # test set의 전체 R-squared 값 저장

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
iter_train_result

[0.9025762610878255,
 0.9022973055548084,
 0.902297632073185,
 0.9017955090040551,
 0.9023533267791247,
 0.9026879148241053,
 0.9027435317875746,
 0.9027436717240217,
 0.9025761522483666,
 0.9022415797518801]

In [31]:
# training set의 logistic regression 결과값 (평균값 & 표준편차)
train_mean = np.mean(iter_train_result)
train_mean
train_std = np.std(iter_train_result)
train_std

0.9024312884834946

0.00028018516249993285

In [ ]:
0.9024 (0.0028)

In [33]:
# test set의 logistic regression 결과값 (평균값 & 표준편차)
test_mean = np.mean(iter_test_result)
test_mean
test_std = np.std(iter_test_result)
test_std

0.9001546573897118

0.0007281209144624438

In [14]:
# Logistic regression 함수 import
"""작성"""
logit_reg_cf = """작성""" # LASSO regression 함수 명명

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() # scaler 함수 명명
scaler = scaler.fit(final_X.iloc[:, 0:np.shape(X_num)[1]]) # scaler 함수 fitting

/home/pirl/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

In [16]:
# 전체데이터 내 연속형 데이터의 scaling
zs_final_X = scaler.transform(final_X.iloc[:, 0:np.shape(X_num)[1]])
# 전체데이터의 연속형과 이산형 데이터 합치기
zs_final_X = np.c_[zs_final_X, final_X.iloc[:, np.shape(X_num)[1]:].values]

/home/pirl/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [17]:
# 전체데이터를 통한 logistic regression 예측 모형 학습
"""작성"""

/home/pirl/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [18]:
# transform to original values
std_coef = np.r_[scaler.var_ ** 0.5, np.ones(np.shape(final_X)[1] - np.shape(X_num)[1])]

In [20]:
# 원래의 변수에 대한 회귀 계수들의 승수비 (odds ratio)
odds_ratio = """작성"""

In [22]:
# 승수비 결과를 pandas의 data frame으로 정리
Final_Results = """작성"""
Final_Results

,age,balance,day,duration,campaign,pdays,previous,job_blue-collar,job_retired,job_self-employed,...,education_unknown,default_yes,housing_yes,loan_yes,contact_telephone,contact_unknown,month_latter_half,poutcome_other,poutcome_success,poutcome_unknown
0,0.999788,1.000003,1.002685,1.004013,0.938982,0.999087,0.994347,0.661488,1.848767,0.774438,...,0.684376,1.467976,0.58817,0.491294,0.924687,0.303069,0.757071,1.403444,9.597699,0.629747